<div class="max-w-full h-screen">
    <h1 class="text-center mt-6 text-3xl font-bold">Introduction</h1>
    <div class=" h-full flex justify-center items-center">
        <div class="flex flex-col md:flex-row md:justify-between items-center px-10">
    
            <div class="w-1/2">
    
                <h1 class="text-3xl font-bold mb-2"> <span class="text-red-500">3</span>PM Solution</h1>
                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, vitae unde officia harum ullam libero autem nihil officiis? Explicabo eum ullam temporibus nemo autem quia provident eius maxime adipisci quasi!
                Totam ex numquam laborum dolore quam illo odit fuga sequi deserunt. Quaerat accusantium labore minima autem, molestiae itaque magni. Quam, eos at ipsam eaque ducimus ad non tempora eius sapiente.
            </p>
    
              <!-- Social Links -->
              <div class="flex items-center gap-4 mt-6 mb-12">
                <a href="#" class="social-icon">
                    <i class="pi pi-whatsapp"></i>
                  </a>
                <a href="#" class="social-icon">
                  <i class="pi pi-instagram"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="pi pi-globe"></i>
                  </a>
                <a href="#" class="social-icon">
                  <i class="pi pi-envelope"></i>
                </a>
                  <a href="#" class="social-icon">
                    <i class="pi pi-map-marker"></i>
                  </a>
              </div>
    
            </div>
    
            <div>
                <img src="assets/3PM-Kantor.png" alt="3PM Solution Image" class="rounded-lg" width="454" height="454">
            </div>
    
        </div>
    </div>

</div>