<div class="max-w-full h-screen">
    <h1 class="text-3xl font-bold text-center">About Me</h1>
  <div class="h-full flex justify-center gap-2 items-center">
      
    <div class="flex justify-center items-center w-full">
        <img src="assets/Foto-diri.png" alt="Foto diri" width="300">
    </div>
        
  
      <div class="flex flex-col items-start w-full justify-center gap-4">
        
        <ul>
            <li>Nama: Ivriel Dei Gratia Gunawan</li>
            <li>Kelas: XII RPL A</li>
            <li class="text-justify pr-6">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt laborum corrupti, corporis quam nostrum quae quaerat et quidem debitis nemo repellendus, fugit provident officia doloribus autem assumenda modi cum odio!
                Sit amet reprehenderit voluptas error repellendus esse alias quidem, molestias reiciendis aspernatur, vel illo veniam molestiae officiis iusto, nihil quo. Veritatis sed est eos ipsam? Illo quod accusamus libero ut.
            </li>
            <li class="flex items-center gap-4">
                <span>Techstack: </span>
                <div class="flex gap-3">
                    <img class="rounded" src="https://img.shields.io/badge/Angular-DD0031?style=flat-square&logo=angular&logoColor=white" alt="Angular"/>
                    <img class="rounded" src="https://img.shields.io/badge/Flutter-02569B?style=flat-square&logo=flutter&logoColor=white" alt="Flutter"/>
                    <img class="rounded" src="https://img.shields.io/badge/GetX-6f42c1?style=flat-square&logo=getx&logoColor=white" alt="GetX"/>
                </div>
            </li>
        </ul>

      <div class="flex items-center justify-start w-full h-20 gap-4">
        <button class="px-8 py-4 rounded-xl font-semibold text-white bg-zinc-900/50 backdrop-blur-sm border border-zinc-700 hover:border-[#34D399]/50 transition-all duration-300 hover:bg-emerald-500 cursor-pointer flex items-center gap-2">
            <i class="pi pi-download"></i>
            Download CV
          </button>
  
          <div class="flex items-center justify-center">
              <p-divider layout="vertical" class="!hidden md:!flex" styleClass="transparent"><b>OR</b></p-divider>
              <p-divider layout="horizontal" class="!flex md:!hidden" align="center"><b>OR</b></p-divider>
          </div>
  
              <!-- Social Links -->
              <div class="flex items-center justify-center gap-4">
                  <a href="#" class="social-icon">
                    <i class="pi pi-github"></i>
                  </a>
                  <a href="#" class="social-icon">
                    <i class="pi pi-linkedin"></i>
                  </a>
                  <a href="#" class="social-icon">
                    <i class="pi pi-instagram"></i>
                  </a>
                  <a href="#" class="social-icon">
                    <i class="pi pi-envelope"></i>
                  </a>
                </div>
      </div>
      </div>


  </div>
</div>